@media screen  and (max-width:1140px) {
    .container{
        max-width: 1100px;
        margin: 0 auto;
    }
    .media__img1::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
        margin-left: 8.5%;
        display: none;
    }
    .media__img2::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }
    .media__img3::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }

}

@media screen  and (max-width:986px) {
    .container{
        max-width: 800px;
        margin: 0 auto;
    }

    .media__img1::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
        margin-left: 8.5%;
        display: none;
    }
    .media__img2::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }
    .media__img3::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }
    .portfolio__content{
        display: grid;
        grid-template-columns:100%;

    }

    .portfolio__item .title{
        text-align: center;
        width: 50%;
    }
    .about__item .about__img2{
        margin-top: 5rem;
        display: none;
    }
    .about__item a{
        text-transform: capitalize;
        font-size: 0.8rem;
       margin-left: 73%;
       font-family: var(--nunito);
      
    }
    .about__item span{
        margin-bottom: 1rem;
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-family: var(--nunito);
        margin-left: 50%;
    }
}

@media screen  and (max-width:768px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
   
    .header{
        width: 100%;
        height: 100vh;
        background-image: url(/img/book10.jpg);
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .navigation{
        position: fixed;
        background-color: rgb(164, 161, 161);
        width: 100%;
        height: 8vh;
        z-index: 999;
    }
    .navigation{
        position: relative;
        background-color: rgb(164, 161, 161);
        width: 100%;
        height: 8vh;
        z-index: 999;
    }
    .banner{
        position: absolute;
       margin-left: 10%;
       margin-top: 8rem;
      
      }
}