*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}
@media screen  and (max-width:1140px) {
    .media__img1::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
        margin-left: 8.5%;
        display: none;
    }
    .media__img2::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }
    .media__img3::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }

}

@media screen  and (max-width:986px) {
  

    .media__img1::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
        margin-left: 8.5%;
        display: none;
    }
    .media__img2::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }
    .media__img3::after{
        position: absolute;
        content: '';
        width: 14%;
        height: 5px;
        background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, yellow 50%, yellow 100% );
        background-size: 30px;
        margin-top: 4%;
       margin-left: 8.5%;
       display: none;
    }
    .portfolio__content{
        display: grid;
        grid-template-columns:100%;

    }

    .portfolio__item .title{
        text-align: center;
        width: 50%;
    }
    .about__item .about__img2{
        margin-top: 5rem;
        display: none;
    }
    .about__item a{
        text-transform: capitalize;
        font-size: 0.8rem;
       margin-left: 73%;
       font-family: var(--nunito);
      
    }
    .about__item span{
        margin-bottom: 1rem;
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-family: var(--nunito);
        margin-left: 50%;
    }
}

@media screen  and (max-width:768px){
   .container{
    max-width: 100%;
    margin: 0 auto;
   }
   
    .header{
        width: 100%;
        height: 100vh;
        background-image: url(/img/book10.jpg);
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .navigation{
        position: fixed;
        background-color: rgb(164, 161, 161);
        width: 100%;
        height: 8vh;
        z-index: 999;
    }
    .navigation{
        position: relative;
        background-color: rgb(164, 161, 161);
        width: 100%;
        height: 8vh;
        z-index: 999;
    }
    
.logo a{
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--roboto);
    margin-left: 1rem;
}
.logo .fa-bars{
    font-size: 1.5rem;
}
.navbar__nav{
    margin-top: 0.8%;
}
.navbar__nav a{
    background-color: dimgray;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    cursor: pointer;
}
    .banner{
        position: absolute;
       margin-left: 2%;
       margin-top: 6rem;
      
      }
      .media__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .banner button {
        font-family: var(--roboto);
        font-size: 1.2rem;
        text-transform: capitalize;
        letter-spacing: 2px;
        background: rgba(0,0,0,0);
        color: #fff;
        border: 1px solid white;
       
    }
    .portfolio button{
        padding: 0.2rem 0.8rem;
        font-family: var(--roboto);
        text-transform: capitalize;
        margin-left: 15%;
        margin-top: 5rem;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    .books__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
        margin-top: 4rem;
    }
    .about__content{
        display: grid;
        grid-template-columns:100%;
        gap: 3rem;
    }
    .about__item  button{
        margin-top: 4rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        letter-spacing: 3px;
        word-spacing: -2px;
        width: 350px;
        height: 40px;
        margin-left: 0%;
    }
    .pay__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .pay button{
        margin-top: 8rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        letter-spacing: 3px;
        word-spacing: -2px;
        width: 350px;
        height: 40px;
        margin-left: 2%;
    }
    .footer__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-bottom: 8rem;
    }
    .footer__item{
        cursor: grab;
        border-top: 0px solid dimgray;
        padding: 20px;
    }

}
